<footer class="site-footer">
  <div class="row">
    <div class="column">
      <ul class="contact-list">
        {% if site.instagram_username %}
        <li>
          <a href="https://www.instagram.com/{{ site.instagram_username }}">
            <div style="white-space:nowrap" class="fa fa-instagram"> {{ site.instagram_username }}</div>
          </a>
        </li>
        {% endif %}

        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    <div class="column"><a href="/contact/"><img src="/uploads/stamp_lowres.png"></a></div>
    <div class="column">
      <p>Copyright &copy; {{ 'now' | date: "%Y" }} <br>Nidhi Sidhartha Mathur<br>All Rights Reserved</p>
    </div>
  </div>

</footer>
