<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="https://nidhi.studio/uploads/logo.png"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Showcase</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/series">All Works</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/exhibitions/">Exhibitions</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">About</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/blogs/">Blog</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/contact/">Contact Me</a></li>
    </ul>
  </nav>

</header>
