<link rel="shortcut icon" href="{{ '/uploads/favicon.png' | prepend: site.baseurl }}" type="image/x-icon">
<link rel="icon" href="{{ '/uploads/favicon.png' | prepend: site.baseurl }}" type="image/x-icon">
<meta name="referrer" content="no-referrer">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-089FJ0DJ6Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-089FJ0DJ6Q');
</script>